<article>
  <p><%= comment.body %></p>
  <footer>
    <p>
      Posted on
      <time datetime="<%= comment.created_at.strftime("%F %T%:z") %>"><%= comment.created_at.strftime("%F") %></time>
      by <%= comment.author_name %>.
    </p>
  </footer>
</article>
