<span id="helpBlock2" class="help-block">
  Text may contain Github-flavored Markdown. <a href="https://help.github.com/articles/basic-writing-and-formatting-syntax/" rel="external" target="_blank">Read about Markdown</a>
</span>
