<tr>
  <td class="text-center"><i class="glyphicon glyphicon-comment text-primary"></i></td>
  <td>
    <h4><%= link_to post.title, post %></h4>
  </td>
  <td class="text-center hidden-xs hidden-sm"><%= post.author_name %></td>
</tr>
