<% content_for(:breadcrumbs) do %>
  <li><a href="#">Posts</a></li>
  <li class="active">All</li>
<% end %>

<!-- <p class="lead">This is the right place to discuss any ideas, critics, feature requests and all the ideas regarding our website. Please follow the forum rules and always check FAQ before posting to prevent duplicate posts.</p> -->
<table class="table forum table-striped">
  <thead>
    <tr>
      <th class="cell-stat"></th>
      <th>
        <h3>Title</h3>
      </th>
      <th class="cell-stat-2x text-center hidden-xs hidden-sm">Author</th>
    </tr>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>

<a href="<%= new_post_path %>" class="btn btn-default pull-right">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <span class="sr-only">Add:</span>
  New Post
</a>
