@import "palette";

.comment {
  margin: 0;  // Cancels Bootstrap margin on .media
  padding: 1em 0 0.5em;

  .avatar {
    font-size: 3em;
    color: $clr-ntr-primary;
  }
  + .comment {
    border-top: 1px solid $clr-ntr-secondary;
  }
}
